<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">SURVEYORS' DIARY</span>
        <span class="navbar-brand mb-2 h4">
            <button routerLink="/head" class="btn btn-outline-info">Home</button>
        </span>
    </div>
</nav>
<div>
</div>
<div class="container mt-4 mb-4">
    <h3>Project Report</h3><br>
    <h6 style="text-align: center; color: rgb(226, 100, 100);">**Befor cretae a report, should be completed it</h6>
    <table id="project-report-{{index}}" class="table  mt-4 mb-3" *ngFor="let projectReport of projectReports; let index = index;">
        <thead>
            <tr>
                <th colspan="2" scope="col" style="font-size: 18px;">{{projectReport.Name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Project Name :</td>
                <td>{{projectReport.Name}}</td>
            </tr>
            <tr>
                <td>Description :</td>
                <td>{{projectReport.Description}}</td>
            </tr>
            <tr>
                <td>Loccation :</td>
                <td>{{projectReport.Location}}</td>
            </tr>
            <tr>
                <td>Project Type :</td>
                <td>{{projectReport.ProjectType}}</td>
            </tr>
            <tr>
                <td>Start Date :</td>
                <td>{{projectReport.cdate|date:"MM/dd/YYYY"}}</td>
            </tr>
            <tr>
                <td>End date :</td>
                <td>{{projectReport.sdate|date:"MM/dd/YYYY"}}</td>
            </tr>
            <tr>
                <td>Intruments :</td>
                <td>{{projectReport.model}}</td>
            </tr>
            <tr>
                <td>Survey Helpers :</td>
                <td>{{projectReport.SurveyHelpers}}</td>
            </tr>
            <tr id="down-{{index}}">
                <button type="submit" class="btn btn-outline-success mt-2 mx-2" (click)="onDown(index)">Download Report</button>
            </tr>
        </tbody>
    </table>
    
</div>