<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">SURVEYORS' DIARY</span>
        <span class="navbar-brand mb-2 h4">
            <button routerLink="/head" class="btn btn-outline-info">Home</button>
        </span>
    </div>
</nav>
<div class="container mt-4 mb-4">
    <h3>ADD NEW PROJECT</h3>
    <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Project Name</label>
            <input formControlName="Name" type="text" class="form-control" id="exampleFormControLocation" minlength="2"
                maxlength="30">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Select the Project Type</label>
            <select formControlName="ProjectType" class="form-control" id="exampleFormControlSelect2">
                <option disabled selected>-Select one-</option>
                <option>TOPO Survey</option>
                <option>ICS</option>
                <option>Setting out Survey</option>
                <option>Photogrammetry/Drone Survey</option>
                <option>RTK Survey</option>
                <option>Controle Traverse Survey</option>
                <option>Hydrographic surveying</option>
            </select>
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Description of the Project</label>
            <input type="text" formControlName="Description" class="form-control" id="exampleFormControlTextarea1">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Location</label>
            <input formControlName="Location" type="text" class="form-control" id="exampleFormControLocation"
                minlength="2" maxlength="30">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Submission Date</label>
            <input formControlName="SubDate" type="date" class="form-control" id="exampleFormControlNumber">
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Number of Survey Helpers</label>
            <input formControlName="SurveyHelpers" type="number" class="form-control" id="exampleFormControLocation"
                min=1 max=10>
        </div>
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControl">Instruments</label><br>
            <select formControlName="model"  class="form-control" id="exampleFormControlSelect2">
                <option disabled selected>-Select one-</option>
                <option >Total Station</option>
                <option >Auto Level</option>
                <option >RTK/ GPS Set</option>
                <option >Handheld GPS</option>
                <option >Drone (LS/ PS)</option>
                <option >Multibeam/ Side Scan Sonars</option>
                <option >UUV/ USV/ UAV liDAR</option>
            </select>
        </div>
     
        <div class="form-group">
            <label class="exampleFormControl" for="exampleFormControlTextarea1">Set Reminder</label><br>
            <select formControlName="Reminder" class="form-control">
                <option disabled selected>-Select one-</option>
                <option >Email</option>
                <option >SMS</option>
                <option disabled>Phone Call</option>

            </select>
            
        </div>
        <button type="submit" [disabled]="!addForm.valid" class="btn btn-primary">Submit</button>
    </form>

</div>